xsd/hosts.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
     <xs:element name="host">
         <xs:complexType>
             <xs:attribute name="name" type="xs:string" use="required"/>
             <xs:attribute name="ip" type="xs:string" use="required"/>
             <xs:attribute name="username" type="xs:string" use="required"/>
             <xs:attribute name="server" type="xs:string" use="required"/>
         </xs:complexType>
     </xs:element>
     <xs:element name="hosts">
         <xs:complexType>
             <xs:sequence>
                 <xs:element ref="host" maxOccurs="unbounded"/>
             </xs:sequence>
         </xs:complexType>
     </xs:element>
</xs:schema>
